extends base

block content
    div.sign
        if errorMessage
            span=errorMessage
        form(method="POST").sign__form
            input(name="username", placeholder="username",type="text", required)
            input(name="password", placeholder="password",type="password", required)
            input(type="submit", value="Login now")
            br
            a(href="/users/github/start") Continue with Github &rarr;
            div 
                span Don't have an account? 
                a(href="/join") Create account now &rarr;