extends base
include mixins/video

block content 
    form(method="GET").search__form
        input(name="keyword", placeholder="Search by title", type="text")
        button
            i.fa-solid.fa-magnifying-glass

    div.video-grid
        each video in videos
            +video(video)
        
    div.empty__message
        if (videos.length === 0 && keyword)
            span Sorry, Nothing found.
    